footer{
    display: flex;
    align-items: center;
    margin-left: 19rem;
    height: 3.5rem;
    background-color: #dc2626;
    color: #fafafa;
}

footer p{
    margin-left: 13rem;
}

@media (max-width: 640px){
    footer{
        margin-left: 0;
    }
    footer p{
        margin-left: 0;
        text-align: center;
    }
}