<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <header>
        <div>
            <h1>Cantinho Literário</h1>
        </div>
        <div>
            <div>
                <h2>Menu</h2>
            </div>
            <div>
                <div>
                    <ul>
                        <li>Início</li>
                        <li>Livros</li>
                        <li>Empréstimos</li>
                        <li>Clientes</li>
                    </ul>
                </div>
                <div>
                    <ul>
                        <li>Funcionário:</li>
                        <li>Sair</li>
                    </ul>
                </div>
            </div>
        </div>
    </header>

    <main>
        <div>
            <h1>Empréstimos</h1>
        </div>
        <div>
            <form action="" method="post">
                <input type="search" name="" id="">
            </form>
            <table>
                <thead>
                    <tr>
                        <th colspan="2">Título</th>
                        <th>Cliente</th>
                        <th>Data do empréstimo</th>
                        <th colspan="2">Data de devolução</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            <svg class="ml-10 cursor-pointer" xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#6d6d6e"><path d="M440-280h80v-240h-80v240Zm40-320q17 0 28.5-11.5T520-640q0-17-11.5-28.5T480-680q-17 0-28.5 11.5T440-640q0 17 11.5 28.5T480-600Zm0 520q-83 0-156-31.5T197-197q-54-54-85.5-127T80-480q0-83 31.5-156T197-763q54-54 127-85.5T480-880q83 0 156 31.5T763-763q54 54 85.5 127T880-480q0 83-31.5 156T763-197q-54 54-127 85.5T480-80Zm0-80q134 0 227-93t93-227q0-134-93-227t-227-93q-134 0-227 93t-93 227q0 134 93 227t227 93Zm0-320Z"/></svg>
                        </td>
                        <td>O Pequeno Príncepe</td>
                        <td>João Paulo</td>
                        <td>21/12/12</td>
                        <td>31/12/12</td>
                        <td><svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#e8eaed"><path d="M382-240 154-468l57-57 171 171 367-367 57 57-424 424Z"/></svg></td>
                    </tr>
                </tbody>
                <tfoot>
                    <tr>
                        <td>
                            Monstrando 10 de 200 itens
                        </td>
                        <td>
                            <div>
                                <svg class="cursor-pointer" xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#fafafa"><path d="M440-240 200-480l240-240 56 56-183 184 183 184-56 56Zm264 0L464-480l240-240 56 56-183 184 183 184-56 56Z"/></svg><svg class="cursor-pointer" xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#fafafa"><path d="M560-240 320-480l240-240 56 56-184 184 184 184-56 56Z"/></svg>
                                <svg class="cursor-pointer" xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#fafafa"><path d="M504-480 320-664l56-56 240 240-240 240-56-56 184-184Z"/></svg>
                                <svg class="cursor-pointer" xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#fafafa"><path d="M383-480 200-664l56-56 240 240-240 240-56-56 183-184Zm264 0L464-664l56-56 240 240-240 240-56-56 183-184Z"/></svg>
                            </div>
                        </td>
                    </tr>
                </tfoot>
            </table>
        </div>
    </main>

    <footer>
        <p>&copy;Copyright 2024 Jéssica B. Ramos. Todos os direitos reservados .</p>
    </footer>

</body>
</html>