<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link href="../assets/output.css" rel="stylesheet">
</head>
<body>

    <header class="fixed flex flex-col justify-start items-center h-screen w-[19rem] bg-red-600 text-neutral-50">
        <div class="pt-5 w-[231px] h-1/6">
            <h1 class="text-2xl">Cantinho Literário</h1><hr>
        </div>

        <div class="w-[231px] h-[520px] border-l border-l-[1] border-neutral-50">
            <div class="pl-3 pb-2 border-b border-b-[1] border-neutral-50 font-black">
                <h2>Menu</h2>
            </div>
            <div class="flex justify-between items-start flex-col h-3/4 pl-3 pt-5 font-light">
                <div class="w-4/5">
                    <ul>
                        <li class="my-4"><a href="">Início</a></li>
                        <li class="my-4"><a href="">Livros</a></li>
                        <li class="my-4"><a href="">Empréstimos</a></li>
                        <li class="my-4"><a href="">Clientes</a></li>
                    </ul>
                </div>
                <div>
                    <ul>
                        <li>Funcionário:</li>
                        <li>Sair</li>
                    </ul>
                </div>
            </div>
        </div>
    </header>

    <main class="h-screen ml-[20rem]">
        <div>
            <div>
                <h1>Livros</h1><hr>
                <p>Quantidade de livros:</p>
                <p>Disponíveis:</p>
                

            </div>
            <div>
                <h1>Exemplares</h1><hr>
                <p>Quantidade de exemplares:</p>
                <p>Disponíveis:</p>
            </div>
            <div>
                <h1>Devoluções próximas</h1><hr>
                <form action="">
                    <table>
                        <thead>
                            <tr>
                                <th colspan="2">
                                    Título do livro
                                </th>
                                <th>Cliente</th>
                                <th>Data do empréstimo</th>
                                <th>Data da devolução</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td><input type="checkbox" name="" id=""></td>
                                <td>O Príncepe</td>
                                <td>João Carlos</td>
                                <td>23/23/23</td>
                                <td>24/24/24</td>
                            </tr>
                        </tbody>
                    </table>
                </form>
            </div>
        </div>
    </main>

    <footer class="ml-[20rem]">
        <p>&copy;Copyright 2024 Jéssica B. Ramos. Todos os direitos reservados .</p>
    </footer>

</body>
</html>