<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Empréstimos</title>
</head>
<body>
    <header>
        <div>
            <h1>Cantinho Literário</h1>
        </div>
        <div>
            <div>
                <h2>Menu</h2>
            </div>
            <div>
                <div>
                    <ul>
                        <li>Início</li>
                        <li>Livros</li>
                        <li>Empréstimos</li>
                        <li>Clientes</li>
                    </ul>
                </div>
                <div>
                    <ul>
                        <li>Funcionário:</li>
                        <li>Sair</li>
                    </ul>
                </div>
            </div>
        </div>
    </header>

    <main>
        <div>
            <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#27272A"><path d="M360-240 120-480l240-240 56 56-144 144h488v-160h80v240H272l144 144-56 56Z"/></svg>
            <h1>Empréstimos</h1>
        </div>

        <div>
            <div>
                img 133.33 por 169.45
            </div>
            <div>
                <div>
                    <h1>Titulo Livro</h1>
                    <span>COD</span>
                </div>
                <div>
                    <ul>
                        <li>Editora: Asas</li>
                        <li>Gênero: Terrror</li>
                        <li>Quantidade de exemplares:</li>
                        <li>Quantidade de exemplares emprestádos:</li>
                    </ul>
                </div>
            </div>
        </div>
        <div>
            <p>Cliente: João</p>
            <p>CPF: 32342344234</p>
            <p>Data de empréstimo: 21/21/21</p>
            <p>Data de devolução: 21/21/12</p>
        </div>
        <div>
            <a href="">Devolver</a>
            <a href="">Editar</a>
            <a href="">Excluir</a>
        </div>
    </main>

    <footer>
        <p>&copy;Copyright 2024 Jéssica B. Ramos. Todos os direitos reservados .</p>
    </footer>
    
</body>
</html>