<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Livros</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />
    <link href="../assets/output.css" rel="stylesheet">
</head>
<body>
    <header>
        <div>
            <h1>Cantinho Literário</h1>
        </div>
        <div>
            <div>
                <h2>Menu</h2>
            </div>
            <div>
                <div>
                    <ul>
                        <li>Início</li>
                        <li>Livros</li>
                        <li>Empréstimos</li>
                        <li>Clientes</li>
                    </ul>
                </div>
                <div>
                    <ul>
                        <li>Funcionário:</li>
                        <li>Sair</li>
                    </ul>
                </div>
            </div>
        </div>
    </header>

    <main class="h-screen ml-[20rem]">
        <div class="flex flex-col flex-wrap p-11">
            <div class="mb-12 pt-4">
                <h1 class="w-20 pb-1 border-b border-zinc-800 font-bold text-xl">Livros</h1>
            </div>
            <div class="flex gap-x-4 mb-8">
                <button class="px-3 py-1 bg-red-600 rounded-md text-neutral-50 font-semibold cursor-pointer">Listar livros</button>
                <button class="px-3 py-1 bg-red-600 rounded-md text-neutral-50 font-semibold cursor-pointer">Cadastrar livro</button>
                <button class="px-3 py-1 bg-red-600 rounded-md text-neutral-50 font-semibold cursor-pointer">Procurar livro</button>
            </div>
            <div class="w-full flex flex-col items-center">
                <input type="text" name="" id="" class="w-2/3 border-2 border-red-600 rounded pl-3 mb-4" placeholder="Digite alguma informção sobre o livro...">
                <form action="" class="w-full flex items-center flex-col">
                    <table class="table-book text-left w-full">
                        <thead>
                            <tr >
                                <th class="th-none"></th>
                                <th class="py-3">Título</th>
                                <th class="py-3">Autor</th>
                                <th class="py-3">Qtdd. Exemplares</th>
                                <th class="py-3">Código</th>
                                <th class="th-none"></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr class="text-center">
                                <td class="px-5 th-none py-3"><input type="checkbox" name="" id=""></td>
                                <td class="py-3">O Príncepe</td>
                                <td class="py-3">Ronaldo</td>
                                <td class="py-3">23</td>
                                <td class="py-3">002</td>
                                <td class="pr-5 th-none py-3"><svg class="ml-10 cursor-pointer" xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#6d6d6e"><path d="M440-280h80v-240h-80v240Zm40-320q17 0 28.5-11.5T520-640q0-17-11.5-28.5T480-680q-17 0-28.5 11.5T440-640q0 17 11.5 28.5T480-600Zm0 520q-83 0-156-31.5T197-197q-54-54-85.5-127T80-480q0-83 31.5-156T197-763q54-54 127-85.5T480-880q83 0 156 31.5T763-763q54 54 85.5 127T880-480q0 83-31.5 156T763-197q-54 54-127 85.5T480-80Zm0-80q134 0 227-93t93-227q0-134-93-227t-227-93q-134 0-227 93t-93 227q0 134 93 227t227 93Zm0-320Z"/></svg></td>
                            </tr>
                        </tbody>
                        <tfoot class="text-neutral-50 font-light">
                            <tr>
                                <td class="py-3 px-5" colspan="2">Mostrando 20 de 20</td>
                                <td class="py-3 px-5" colspan="5">
                                    <div class="flex flex-row justify-end w-full">
                                        <svg class="cursor-pointer" xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#fafafa"><path d="M440-240 200-480l240-240 56 56-183 184 183 184-56 56Zm264 0L464-480l240-240 56 56-183 184 183 184-56 56Z"/></svg><svg class="cursor-pointer" xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#fafafa"><path d="M560-240 320-480l240-240 56 56-184 184 184 184-56 56Z"/></svg>
                                        <svg class="cursor-pointer" xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#fafafa"><path d="M504-480 320-664l56-56 240 240-240 240-56-56 184-184Z"/></svg>
                                        <svg class="cursor-pointer" xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#fafafa"><path d="M383-480 200-664l56-56 240 240-240 240-56-56 183-184Zm264 0L464-664l56-56 240 240-240 240-56-56 183-184Z"/></svg>
                                    </div>
                            </td>
                            </tr>
                        </tfoot>
                    </table>
                </form>
            </div>

            <div class="cadastrar-livro">
                <form action="" class="flex flex-row justify-between flex-wrap gap-3 w-2/3">
                    <label class="w-full">
                        Título
                        <input type="text" name="" id=""  class="w-full border-2 border-red-600 rounded">
                    </label>
                    <label class="w-2/3">
                        Autor
                        <input type="text" name="" id=""  class="w-full border-2 border-red-600 rounded">
                    </label>
                    <label class="w-1/4">
                        Quantidade de exemplares
                        <input type="number" name="" id="" class="w-full border-2 border-red-600 rounded">
                    </label>
                    <label class="w-1/2">
                        Editora
                        <input type="text" name="" id="" class="w-full border-2 border-red-600 rounded">
                    </label>
                    <label class="w-2/5">
                        Gênero
                        <input type="text" name="" id="" class="w-full border-2 border-red-600 rounded">
                    </label>
                    <input type="submit" value="Cadastrar" class="py-1 px-3 text-neutral-50 font-semibold bg-red-600 rounded cursor-pointer">
                </form>
            </div>
        </div>
    </main>

    <footer class="flex items-center ml-[19rem] h-14 bg-red-600 text-neutral-50">
        <p class="ml-52">&copy;Copyright 2024 Jéssica B. Ramos. Todos os direitos reservados .</td>
    </footer>
    
</body>
</html>